html {
	--col-a: rgb(255, 255, 255);
	--col-a-on: rgb(20, 20, 20);
	--col-b: rgb(203, 68, 33);
	--col-b-on: rgb(255, 255, 255);
	--col-c: rgba(255, 173, 50, 0.9);
	--col-c-on: rgb(20, 20, 20);
	--col-d: rgb(238, 238, 238);
	--col-d-on: rgb(96, 96, 96);
	--col-accent: rgba(0,0,0,0.25);
	--font-a: Helvetica, Arial, sans-serif;
	--font-b: Georgia, 'Times New Roman', Times, serif;
}
body {
	margin: 0;
	background-color: var(--col-a);
	color: var(--col-a-on);
	font-family: var(--font-a);
	font-size: 1rem;
	line-height: 1.3;
}
img {
	max-width: 100%;
	vertical-align: middle;
}

/* Header and menu */
.content-header {
	background-color: var(--col-b);
	color: var(--col-b-on);
}
.navigation {
	padding: 1rem 2rem;
}
.logo {
	display: block;
	margin: 2rem 0;
}
.nav-list, .nav-sublist {
	list-style-type: none;
	padding-left: 0;
}
.nav-list {
	border-top: 1px solid var(--col-accent);
	margin: 2rem 0;
}

/* Anchors */
.nav-list a {
	display: block;
	font-weight: 700;
	font-size: 1.125rem;
	font-family: var(--font-b);
	text-decoration: none;
	text-transform: uppercase;
	color: inherit;
	padding: 1rem 0;
	border-bottom: 1px solid var(--col-accent);
}
.nav-sublist a {
	font-weight: 400;
}
.nav-list a.active, .nav-list a:hover {
	text-decoration: underline;
}

/* Hero section */
.hero {
	background-image: url('../img/header.jpg');
	background-size: cover;
	background-position: center;
	padding: 4rem 0 17rem 0;
	text-shadow: 0 0 1rem var(--col-accent);
}
.slogans {
	padding: 0 2rem;
}
.primary-slogan {
	font-weight: 700;
	font-size: 3rem;
	font-family: var(--font-b);
	text-transform: uppercase;
	color: var(--col-b-on);
	margin: 1rem 0;
}
.secondary-slogan {
	font-weight: 700;
	font-size: 1.5rem;
	color: var(--col-b-on);
	margin: 1rem 0;
}

/* Menu header */
.food-menu {
	padding: 0 1rem;
	margin-top: -12rem;
}
.menu-intro {
	background-color: var(--col-c);
	color: var(--col-c-on);
	padding: 5rem 1rem;
	text-align: center;
	border-bottom: 0.5rem solid var(--col-accent);
	font-size: 1.5rem;
}
.business-name {
	font-size: 2.5rem;
	font-family: var(--font-b);
	text-transform: uppercase;
}

/* Menu categories */
.menu-category {
	padding: 3rem 1rem;
}
.menu-category#tacos {
	background-color: var(--col-b);
	color: var(--col-b-on);
	position: relative;
	margin-top: 8rem;
}
.menu-category#tacos::before {
	content: "";
	display: block;
	height: 8rem;
	width: 100%;
	background-image: url('../img/corn-maize.svg');
	background-color: var(--col-a);
	margin: 0 -1rem;
	position: absolute;
	bottom: 100%;
}
.category-header {
	text-align: center;
	margin: 2rem 0;
}
.category-header::before, .menu-header::before {
	content: "";
	display: block;
	height: 2rem;
	width: 100%;
	background-image: url('../img/x-black.svg');
	background-repeat: no-repeat;
	background-position: center;
}
.menu-category#tacos .category-header::before {
	background-image: url('../img/x-white.svg');
}
.category-name {
	text-transform: uppercase;
	text-align: center;
	font-family: var(--font-b);
	font-size: 2.5rem;
	margin: 1rem 0;
}
.callout {
	display: inline-block;
	background-color: var(--col-c);
	color: var(--col-c-on);
	font-style: italic;
	font-weight: 700;
	text-align: center;
	border-radius: 2rem;
	padding: 0.25rem 1rem;
}

/* Menu items */
.menu-item {
	margin: 5rem 0;
}
.item-description {
	border-top: 1px solid var(--col-a-on);
	border-bottom: 1px solid var(--col-a-on);
	text-align: center;
	margin: 2rem 1rem;
	padding: 2rem;
}
.item-name {
	font-size: 1rem;
	margin: 1rem 0;
}
.item-price {
	font-style: italic;
	color: var(--col-b);
}
.menu-category#tacos .item-price {
	color: var(--col-a-on);
}
.menu-category#tacos .item-description {
	border-color: var(--col-b-on);
}

/* Footer */
.content-footer {
	background-color: var(--col-d);
	color: var(--col-d-on);
	text-align: center;
	padding: 5rem 1rem;
}


@media screen and (min-width: 40rem) {
	.hero {
		padding-top: 12rem;
		padding-bottom: 17rem;
	}
	.food-menu {
		margin: -5rem auto 0 auto;
	}
	.menu-intro {
		padding: 8rem 4rem;
	}
	.item-group {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	.menu-item {
		flex-basis: 40%;
		margin: 2em 0;
		display: flex;
		flex-direction: column;
	}
	.item-description {
		flex-grow: 1;
	}
}

@media screen and (min-width: 60rem) {
	.inline-nav {
		display: flex;
	}
	.navigation {
		justify-content: space-between;
		box-sizing: border-box;
		max-width: 80rem;
		padding: 0 2rem;
		margin: 0 auto;
	}
	.logo {
		margin: 1rem 0;
	}
	.nav-list {
		border: none;
		margin: 1rem 0;
	}
	.nav-list a {
		padding: 1rem 0 1rem 1rem;
		border: none;
	}
	.slogans { 
		box-sizing: border-box;
		max-width: 80rem;
		margin: 0 auto;
	}
	.food-menu {
		box-sizing: border-box;
		max-width: 80rem;
	}
	.menu-item {
		flex-basis: 25%;
	}
}
