html {
	--col-a: rgb(255, 255, 255);
	--col-a-on: rgb(20, 20, 20);
	--col-b: rgb(203, 68, 33);
	--col-b-on: rgb(255, 255, 255);
	--col-c: rgba(255, 173, 50, 0.9);
	--col-c-on: rgb(20, 20, 20);
	--col-d: rgb(238, 238, 238);
	--col-d-on: rgb(96, 96, 96);
	--col-accent: rgba(0, 0, 0, 0.25);
	--font-a: Helvetica, Arial, sans-serif;
	--font-b: Georgia, 'Times New Roman', Times, serif;
}

body {
	margin: 0;
	background-color: var(--col-a);
	color: var(--col-a-on);
	font-family: var(--font-a);
	font-size: 1rem;
	line-height: 1.3;
}
img {
	max-width: 100%;
	vertical-align: middle;
}

/* Header and menu */
.content-header {
	background-color: var(--col-b);
	color: var(--col-b-on);
}
.navigation {
	padding: 1rem 2rem;
}
.logo {
	display: block;
	margin: 2rem 0;
}
.nav-list, .nav-sublist {
	list-style-type: none;
	padding-left: 0;
}
.nav-list {
	border-top: 1px solid var(--col-accent);
	margin: 2rem 0;
}

/* Anchors */
.nav-list a {
	display: block;
	color: var(--col-b-on);
	font-family: var(--font-b);
	font-size: 1.125rem;
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	padding: 1rem 0;
	border-bottom: 1px solid var(--col-accent);
}
.nav-sublist a {
	font-weight: 400;
}
.nav-list .active {
	text-decoration: underline;
}

/* Hero section */
.hero {
	background-image: url('img/header.jpg');
	background-size: cover;
	background-position: center;
	padding: 4rem 0 17rem 0;
	text-shadow: 0 0 1rem var(--col-accent);
}
.slogans {
	padding: 0 2rem;
}
.primary-slogan {
	font-family: var(--font-b);
	font-size: 3rem;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--col-b-on);
	margin: 1rem 0;
}
.secondary-slogan {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--col-b-on);
	margin: 1rem 0;
}


/* Menu header */
.food-menu {
	padding: 0 1rem;
	margin-top: -12rem;
}
.menu-intro {
	background-color: var(--col-c);
	color: var(--col-c-on);
	padding: 5rem 1rem;
	text-align: center;
	border-bottom: 0.5rem solid var(--col-accent);
	font-size: 1.5rem;
}
.business-name {
	font-size: 2.5rem;
	font-family: var(--font-b);
	text-transform: uppercase;
}

/* Menu categories */
.menu-category {
	padding: 3rem 1rem;
}
.category-header {
	text-align: center;
	margin: 2rem 0;
}
.category-name {
	font-size: 2.5rem;
	font-family: var(--font-b);
	text-transform: uppercase;
	text-align: center;
	margin: 1rem 0;
}
.callout {
	display: inline-block;
	background-color: var(--col-c);
	color: var(--col-c-on);
	font-style: italic;
	font-weight: 700;
	text-align: center;
	border-radius: 2rem;
	padding: 0.25rem 1rem;
}


/* Menu items */
.menu-item {
	margin: 5rem 0;
}
.item-description {
	border-top: 1px solid var(--col-a-on);
	border-bottom: 1px solid var(--col-a-on);
	text-align: center;
	margin: 2rem 1rem;
	padding: 2rem;
}
.item-name {
	font-size: 1rem;
	margin: 1rem 0;
}
.item-price {
	color: var(--col-b);
	font-style: italic;
}
.content-footer {
	background-color: var(--col-d);
	color: var(--col-d-on);
	text-align: center;
	padding: 5rem 1rem;
}
