/* 
body {
	background-color: rgb(30,30,35);
	color: rgb(255,255,255);
}

.all-tasks {
	list-style-type: none;
}

.todo {
	background-color: rgba(255,255,255,0.15);
}

.task {
	font-weight: 700;
}

.status {
	background-color: rgba(255,255,255,0.15);
	color: transparent;
}

.status-complete {
	color: rgb(255,255,255);
}
*/


body {
	background-color: rgb(30,30,35);
	color: rgb(255,255,255);
	margin: 0;
}
h1 {
	margin: 1rem 0;
}
h2 {
	margin: 1rem 0;
}
.all-tasks {
	list-style-type: none;
	padding-left: 0;
	margin: 0 1rem;
}
.todo {
	background-color: rgba(255,255,255,0.15);
	padding: 0 1rem;
	margin: 1rem 0;
	border-top: 0.25rem solid rgba(255,255,255,0.15);
	border-radius: 0.5em;
}
.task {
	font-weight: 700;
	margin: 1rem 0;
}
.taskinfo {
	background-color: rgba(255,255,255,0.15);
	margin: 1em 0;
	padding: 0 1em;
	border-radius: 0.5em;
}
.status {
	background-color: rgba(255,255,255,0.15);
	border-radius: 0.5rem;
	color: transparent;
}
.status-complete {
	color: rgb(255,255,255);
}
.subpoints {
 margin: 1rem 0;
}
