* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {
	background-color: transparent;
	font: 1em/1.5 system-ui, sans-serif;
	margin: 0;
}

h1 {
	text-align: center;
	margin: 1rem 0;
}

h2 {
	color: var(--fg-lighten);
	font-size: 0.8rem;
	text-transform: uppercase;
	margin: 1rem 0;
}

/* Theme switching */
.mode {
	display: none;
}
.mode:checked ~ .layout {
	--bg: rgb(255,255,255);
	--bg-lighten: rgba(30,30,35,0.1);
	--fg: rgb(30,30,35);
	--fg-lighten: rgb(30,30,35,0.5);
}
.switch {
	position: fixed;
	top: 1rem;
	right: 1rem;
	background-color: var(--bg-lighten);
	width: 3rem;
	height: 1.5rem;
	padding: 0;
	margin: 0;
	border-radius: 0.5em;
	text-align: center;
	font-size: 2em;
}
.flip {
	background-color: var(--fg);
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	transition: transform 200ms;
}
.mode:checked ~ .layout label[for="mode"] .flip {
	transform: translateX(1.5rem);
}

/* Structural */
.layout {
	--bg: rgb(30,30,35);
	--bg-lighten: rgba(255,255,255,0.15);
	--fg: rgb(255,255,255);
	--fg-lighten: rgba(255,255,255,0.5);

	background-color: var(--bg);
	color: var(--fg);
	display: flow-root;
	min-height: 100%;
	padding: 0 1rem;
}

.all-tasks {
	padding-left: 0;
	list-style-type: none;
	max-width: 40rem;
	margin: 0 auto;
}

.todo {
	--category: var(--bg-lighten);

	background-color: var(--bg-lighten);
	display: flow-root;
	padding: 0 1rem;
	margin: 1rem 0;
	border-top: 0.25rem solid var(--category);
	border-radius: 0.5em;
	position: relative;
}

.cat-personal {
	--category: #a7cdeb; /*#7ebac2;*/
	--category: #317ccd;
}
.cat-work {
	--category: #c1df9d; /*#ace761;*/
	--category: #48a42f;
}
.cat-important {
	--category: #e1a4a6;
	--category: #e93b95;
}


/* Task name */
.task {
	margin: 1rem 2rem 1rem 0;
	font-weight: 700;
}
	.todo.complete .task {
		text-decoration: line-through;
		text-decoration-thickness: 2px;
		opacity: 0.5;
	}
.due {
	background-color: var(--bg-lighten);
	color: var(--fg);
	font-weight: 400;
	font-size: 0.8rem;
	margin-left: 0.5rem;
	vertical-align: middle;
	padding: 0 0.25rem;
	line-height: 1.25;
	display: inline-block;
	border-radius: 0.25rem;
}
	.todo.complete .due {
		display: none;
	}
	.due.urgent {
		--bg-lighten: rgba(255,0,0,0.2);
		--fg: rgb(255,100,100);
	}


/* Task complete checkbox */
.status-check {
	display: none;
}
.status {
	background-color: var(--bg-lighten);
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 0.5rem;
	color: transparent;
	text-align: center;
	position: absolute;
	top: 1rem;
	right: 1rem;
}
.status-check:checked ~ .details .task {
	text-decoration: line-through;
	text-decoration-thickness: 2px;
	opacity: 0.5;
}
.status-check:checked + .status {
	background-color: var(--bg-lighten);
	color: var(--fg);
}




/* Task details */
.details section {
	background-color: var(--bg-lighten);
	display: flow-root;
	margin: 1em 0;
	padding: 0 1em;
	border-radius: 0.5em;
}
.subpoints {
	margin: 1rem 0;
}


/* New? */
/* .new {
	width: 3rem;
	height: 3rem;
	font: inherit;
	border: none;
	border-radius: 50%;
	font-size: 3rem;
	padding: 0;

	position: fixed;
	bottom: 1rem;
	right: 1rem;
}
.layout {
	padding-bottom: 4rem;
} */





/* .btn?? */
/* .btn {
	color: inherit;
	font: inherit;
	border: none;
	border-radius: 0.25rem;
}
.btn:disabled {
	background-color: var(--bg-lighten);
	color: var(--bg);
} 
.addsub {
	background-color: var(--bg-lighten);
	margin: 0.5rem 0 1rem 1rem;
}
.save {
	background-color: mediumslateblue;
	color: #fff;
	display: block;
	width: 100%;
	text-align: center;
	margin: 1rem 0;
}
*/



/* .complete {
	background-color: var(--bg-lighten);
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 0.5rem;
	display: inline-block;
	vertical-align: -0.333rem;
	margin-right: 0.5rem;
}
.status {
	background-image: none;
} 
*/








