body {
	background-color: rgb(255, 255, 255);
	color: rgb(20, 20, 20);
}

a {
	background-color: rgb(203, 68, 33);
	color: rgb(255, 255, 255);
}

.active {
	background-color: rgb(255, 173, 50);
	color: rgb(20, 20, 20);
}

.callout {
	background-color: rgb(255, 173, 50);
	color: rgb(20, 20, 20);
}

.item-price {
	color: rgb(203, 68, 33);
}
