/* STARTING CODE
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
* { 
	box-sizing: border-box; 
}
html, body {
	height: 100%;
	margin: 0;
}
body {
	font: 700 2rem 'Amatic SC', helvetica, arial, system-ui, sans-serif;
} 
.hole {
	width: 10rem;
	height: 7.5rem;
	margin: 0.25rem;
	border-radius: 50%;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
* { 
	box-sizing: border-box; 
}
html, body {
	height: 100%;
	margin: 0;
}
body {
	font: 700 2rem 'Amatic SC', helvetica, arial, system-ui, sans-serif;
	background-image: url('img/scribble.jpg'), radial-gradient(#779956, #4a682e);
	background-blend-mode: multiply;
	background-size: 8rem, 100%;
}

.leaderboard {
	border-collapse: collapse;
}
.categories {
	background-color: #5c926a;
	color: #c8e6c9;
	/* border-radius: 1rem 1rem 0 0; */
}
.scores {
	background-color: #eeeeee;
	background-image: url('img/mole.png');
	background-size: 2em;
	background-blend-mode: soft-light;
}

.hole {
	width: 10rem;
	height: 7.5rem;
	margin: 0.25rem;
	border-radius: 50%;
}




/* .mole {
	vertical-align: middle;
} */
/* 
.mole {
	background-color: #311e11;
	border: none;
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url('img/mole.png');
}

.whacked {
	background-color: gold;
	background-image: url('img/whacked.png');
}

.hole {
	width: 20vmin;
	height: 15vmin;
	margin: 1vmin;
	border-radius: 50%;
	background-color: #311e11;
	border-top: 3vmin solid #4c2f1e;

	width: 10rem;
	height: 7.5rem;
	margin: 0.25rem;
}
*/
