@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

* { 
	box-sizing: border-box; 
}
html, body {
	height: 100%;
	margin: 0;
}
body {
	font: 700 2rem 'Amatic SC', helvetica, arial, system-ui, sans-serif;
}
.leaderboard {
	font-size: 1.5rem;
	line-height: 2;
	text-align: center;
}
.leaders {
	color: #fff;
	font-size: 3rem;
	line-height: 1;
}
.hole {
	width: 10rem;
	height: 7.5rem;
	margin: 0.25rem;
	border-radius: 50%;
}
